SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=auth_demo
POSTGRES_USER=auth_demo
POSTGRES_PASSWORD=auth_demo
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

JWT_SECRET=change-me-too
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_TTL_MINUTES=60
